body {
  margin: 0;
  background: #cbf7f2;
}

body {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.bar--primary {
  height: 90vh;
}

.bar--secondary {
  height: 10vh;
}

$colors: 
  #A7DA84 
  #F9D770 
  #EDA671 
  #E37971 
  #B579B7 
  #7DC8E5
  #656263
  #B070B2
  #242021
  #74C4E3
  #5B5B5B
  #F8D467;

@each $color in $colors {
  $i: index($colors, $color);
  .bar:nth-child(#{$i}) {
    background-color: $color;
  }
}

.video-container { 
position: relative;
height: 100vh;
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; 
  z-index: 0;
  // opacity: 0;
  @media (min-aspect-ratio: 16 / 9) {
    & {
      height: 300%;
      top: -100%; } }
  @media (max-aspect-ratio: 16 / 9) {
    & {
      width: 300%;
left: -100%; } 
  }
}

.hidden {
padding: 0;
display: none;
}

img, svg {
  max-width: 100%;
}

@keyframes bounce {
  50% {
    transform: translateX(0.125rem);
  }
  100% {
    transform: unset;
  }
}

.dublab-logo {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 2rem;
  right: 2rem;
  height: 10rem;
  width: auto;
  opacity: 0.75;
}