body {
  margin: 0;
  background-color: black; }

body {
  margin: 0; }

.intro {
  display: grid;
  grid-template-columns: repeat(6, 1fr); }

.intro__bar--primary {
  height: 90vh; }

.intro__bar--secondary {
  height: 10vh; }

.intro__logo {
  position: absolute;
  top: calc(50% - 25vh);
  left: 50%;
  right: 0;
  bottom: 0;
  height: 50vh;
  transform: translateX(-50%);
  width: auto;
  cursor: pointer; }

.intro__bar:nth-child(1) {
  background-color: #A7DA84; }

.intro__bar:nth-child(2) {
  background-color: #F9D770; }

.intro__bar:nth-child(3) {
  background-color: #EDA671; }

.intro__bar:nth-child(4) {
  background-color: #E37971; }

.intro__bar:nth-child(5) {
  background-color: #B579B7; }

.intro__bar:nth-child(6) {
  background-color: #7DC8E5; }

.intro__bar:nth-child(7) {
  background-color: #656263; }

.intro__bar:nth-child(8) {
  background-color: #B070B2; }

.intro__bar:nth-child(9) {
  background-color: #242021; }

.intro__bar:nth-child(10) {
  background-color: #74C4E3; }

.intro__bar:nth-child(11) {
  background-color: #5B5B5B; }

.intro__bar:nth-child(12) {
  background-color: #F8D467; }

.video-container {
  position: relative;
  height: 100vh; }

#video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 0; }
  @media (min-aspect-ratio: 16 / 9) {
    #video {
      height: 300%;
      top: -100%; } }
  @media (max-aspect-ratio: 16 / 9) {
    #video {
      width: 300%;
      left: -100%; } }

.hidden {
  padding: 0;
  display: none; }

img, svg {
  max-width: 100%; }

@keyframes bounce {
  50% {
    transform: translateX(0.125rem); }
  100% {
    transform: unset; } }

.dublab-logo {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 2rem;
  right: 2rem;
  height: 10rem;
  width: auto;
  opacity: 0.75; }
